<nav class="nav">
    <div class="title">Members only</div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links">
        <a href="/">Home</a>
        <% if(user && !user.membership_status){ %>
        <a href="/join">Be a member</a>
        <% } %>

        <a href="/posts/">Posts</a>
        <% if(user){ %>
        <a href="/posts/new">New post</a>
        <a href="/logout">Log out</a>
        <% }else if(!user){ %>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        <% } %>
    </div>
</nav>
