<!DOCTYPE html>
<html>
    <head>
        <title>Members only</title>
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <%- include('./partials/header.ejs') %> <%- body %>
    </body>
</html>
