<form action="/posts/new" method="POST" onsubmit="(e)=>e.preventDefault()">
    <label for="form">Create new post</label>
    <textarea name="form" minlength="5"></textarea>
    <button type="submit">Create</button>
</form>
