<%- include('./partials/error_msg.ejs') %>

<div class="post">
    <h3>Sign up</h3>
    <form action="/signup" method="POST" id="signupform">
        <div class="form form-post">
            <div><label for="username">Username</label><input type="text" name="username" required /></div>
            <div><label for="email">Email</label><input type="email" name="email" required /></div>
            <div>
                <label for="password">Password</label><input type="password" name="password" required />
            </div>
            <div>
                <label for="confirm_password">Confirm Password</label
                ><input type="password" name="confirm_password" required />
            </div>
            <button>Submit</button>
        </div>
    </form>
</div>
